.week-team.container {
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

.field {
  position: relative;
  width: 100%;
  height: 40rem;
  background: repeating-linear-gradient(
    0deg,
    #334e3c 1rem,
    #334e3c 2rem,
    #4caf50 1rem,
    #4caf50 4rem
  );
  background-size: 60rem 40rem;
  clip-path: polygon(6rem 0%, calc(100% - 6rem) 0%, 100% 100%, 0% 100%);
}

.field::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: polygon(6rem 0%, calc(100% - 6rem) 0%, 100% 100%, 0% 100%);
  border: 0.2rem solid white; /* Bordes blancos alrededor del trapecio */
  box-sizing: border-box;
}

/* Línea de medio campo */
.field::after {
  content: "";
  position: absolute;
  top: 50%; /* Posiciona la línea en el centro vertical del campo */
  left: 0;
  width: 100%;
  height: 0.2rem; /* Grosor de la línea */
  background-color: white;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas grandes */
  grid-template-rows: repeat(4, 1fr); /* 4 filas */
  grid-gap: 20px;
  grid-template-areas:
    "delantero delantero delantero"
    "medio1 . medio2"
    "defensa1 . defensa2"
    "portero portero portero";
}

.player {
  padding: 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-muted {
  font-size: 1rem;
  color: #f8f9fa;
}

.img-player {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-areas:
      "delantero delantero"
      "medio1 medio2"
      "defensa1 defensa2"
      "portero portero";
  }
}


@media (max-width: 480px) {
  .field {
    position: relative;
    width: 105%;
    height: 35rem;
    clip-path: polygon(2.5rem 0%, calc(100% - 2.5rem) 0%, 100% 100%, 0% 100%);
  }


  .team-grid {
    grid-template-columns: repeat(2,1fr); /* 3 columnas para pantallas grandes */
    grid-template-rows: repeat(4, 1fr); /* 1 columna */
    grid-template-areas:
    "delantero delantero"
    "medio1 medio2"
    "defensa1 defensa2"
    "portero portero";
    max-width: 100%;
  }

  .player {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.06rem;
  }

}