.field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 110%;
    justify-self: first baseline;
    justify-content: center;
    height: 500px;
    padding: 20px;
    gap: 10px;
    background-color: #28a745;
  }
  
  .row_player {
    display: contents;
  }
  
  .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1rem; /* Asegura que cada celda tenga un tamaño mínimo */
    width: 80%; /* Asegura que la celda ocupe el 100% del ancho */
  }
  
  .col-4.player-1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .col-4.player-2 {
    grid-column: 3;
    grid-row: 1;
  }
  
  .col-4.player-3 {
    grid-column: 2;
    grid-row: 2;
  }
  
  .col-4.player-4 {
    grid-column: 1;
    grid-row: 3;
  }
  
  .col-4.player-5 {
    grid-column: 3;
    grid-row: 3;
  }
  
  .col-4.player-6 {
    grid-column: 2;
    grid-row: 4;
  }
  
  /* Colorear las filas de la grid */
  .field > div:nth-child(1),
  .field > div:nth-child(2) {
    background-color: #a0d1ff; /* Color para la primera fila */
  }
  
  .field > div:nth-child(3),
  .field > div:nth-child(4) {
    background-color: #ffd1a0; /* Color para la segunda fila */
  }
  
  .field > div:nth-child(5),
  .field > div:nth-child(6) {
    background-color: #ffa0d1; /* Color para la tercera fila */
  }
  
  .field > div:nth-child(7),
  .field > div:nth-child(8) {
    background-color: #d1ffa0; /* Color para la cuarta fila */
  }
  
  .field > div:nth-child(9),
  .field > div:nth-child(10) {
    background-color: #d1a0ff; /* Color para la quinta fila */
  }
  