.header {
  position: sticky;
  top: 0;
  background-color: #ede0e0;
  border-bottom: 5px solid #3e78bc;
  z-index: 1000;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0px;
  }


.container-fluid {
  background-color: #3e78bc;
  justify-content: space-around;
}

.navbar-nav.ms-auto {
  padding: 0.5rem;
  justify-content: space-around;
}

#navbarNav ul li {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  padding: 0 5rem;
}

#navbarNav ul li :hover {
  transition: color 0.3s ease-in-out;
  transform: scale(1.05);
}
#navbarNav ul li a {
  color: #ede0e0;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.logo {
  max-width: 90%;
  padding: 0.2rem;
  margin-left: 5px;
  filter: grayscale(100) brightness(39);
}

.logo:hover {
  filter: grayscale(0) brightness(100);
  transform: scale(1.1);
}

.material-symbols-outlined {
  color: #3e78bc;
  font-size: 100%;
  margin: 0 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}

.material-symbols-outlined:hover {
  color: #ede0e0;

  transform: scale(1.1);
}

.btn.btn-outline-primary {
  border-radius: 30px;
  background-color: #ede0e0;
  font-weight: bold;
  text-align: center;
}

.btn.btn-outline-primary:hover {
  background-color: #32163b;
}
